* {
    margin: 0;
    padding: 0;;
}

h1 {
    margin-left: 2%;
    margin-top: 10px;
    font-family: sans-serif;
}

.pokedex-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .pokedex-button{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
}
}  */

#modal-container {
    display: none;
}

#modal-container.is-visible {               
    display: block;
}

.modal.is-visible {
    display: block;
}

.modal-close {
    float: right;
}

.custom-btn {
    text-transform: capitalize;
}

h5 {
    text-transform: capitalize;
}