* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 2%;
    margin-top: 10px;
    font-family: sans-serif;
}

.pokedex-button:hover {
    cursor: pointer;
}

*/ #modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
}

.modal.is-visible {
    display: block;
}

.modal-close {
    float: right;
}

.custom-btn {
    text-transform: capitalize;
    color: black;
    background-color: lightgray;
    border: 2px solid black;
    padding: auto;
    width: 200px;
    height: 100px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-group-item {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
}

h5 {
    text-transform: capitalize;
}

@media screen and (max-width: 700px) {
    .pokedex-button {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }

    .pokemon-list {
        display: flex;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (min-width: 700px) and (max-width:950px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}